<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Catálogo Escolar</title>
  <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
  <nav class="navbar">
    <div class="logo-container">
      <img src="../img/logo.jpg" alt="Logo" class="logo" />
      <img src="../img/PixelArt.png" alt="PixelArt" class="logo-text" />
    </div>
    <div class="buttons">
      <select class="custom-select">
        <option value="">Categorías</option>
        <option value="escolar">Escolar</option>
        <option value="dedicado">Material dedicado</option>
      </select>
      <a class="contact-button" href="contacto.html">Contáctanos</a>
    </div>
  </nav>

  <header class="header">
    <h1>¡Bienvenido!</h1>
    <p>
      Al lugar donde nacen las ideas. Tenemos los lápices, cuadernos, colores y herramientas
      que necesitas para expresarte sin límites. <br />
      Explora nuestro catálogo y encuentra tus aliados creativos, desde los clásicos
      indispensables hasta lo más nuevo en tendencias artísticas. Porque el arte no espera…
      ¡y tú tampoco deberías!
    </p>
  </header>


  <main class="catalogo">
    <div class="producto">
      <img src="imagenes/lapiz.jpg" alt="Lápiz" />
      <h3>LÁPIZ NORMA</h3>
      <p>$1.000</p>
    </div>
    <div class="producto">
      <img src="imagenes/cuaderno.jpg" alt="Cuaderno" />
      <h3>Cuaderno norma</h3>
      <p>$6.000</p>
    </div>
    <div class="producto">
      <img src="imagenes/lapiceros.jpg" alt="Lapicero" />
      <h3>Lapicero</h3>
      <p>$2.000</p>
    </div>
  </main>

  <script src="script.js"></script>
</body>

</html>