<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

     <nav class="navbar">
    <div class="logo-container">
      <img src="../img/logo.jpg" alt="Logo" class="logo" />
      <img src="../img/PixelArt.png" alt="PixelArt" class="logo-text" />
    </div>
    <div class="buttons">
      <select class="custom-select">
        <option value="">Categorías</option>
        <option value="escolar">Escolar</option>
        <option value="dedicado">Material dedicado</option>
      </select>
      <button class="contact-button">Contáctanos</button>
    </div>
  </nav>
  <img src="../img/logo.jpg" alt="Logo" style="width: 270px; border-radius: 10px;">

<div style="display: flex; max-width: 800px;">
  
  <div style="flex: 1; margin: 10px;">
    <h3>Sobre Nosotros</h3>
    <ul style="list-style: none; display: flex; flex-direction: column; ">
        <li style="display: flex;"><img src="../iconos/mision-icon.svg" alt="">Mision</li>
        <li style="display: flex;"><img src="../iconos/vision-icon.svg" alt="">Vision</li>
        <li style="display: flex;"><img src="../iconos/objetivos-icon.svg" alt="">Objetivos</li>
    </ul>
  </div>

  <div style="flex: 1; border-style: solid; border-color: white; border-width: 0 2px; margin: 10px;">
    <h3>Sobre Nosotros</h3>
    <ul style="list-style: none; ">
        <li style="display: flex;"><img src="../iconos/correo-icon.svg" alt="">Pixelart@gmail.com</li>
        <li style="display: flex;"><img src="../iconos/phone-icon.svg" alt="">320 856 7554</li>
        <li style="display: flex;"><img src="../iconos/location-icon.svg" alt="">Crr- 69 Cll- 13</li>
    </ul>
  </div>

  <div style="flex: 1; margin: 10px;">
    <h3>Sobre Nosotros</h3>
    <ul style="list-style: none;">
        <li style="display: flex;"><img src="../iconos/facebook-icon.svg" alt="">Pixelart</li>
        <li style="display: flex;"><img src="../iconos/instagram-icon.svg" alt="">Pixelart.co</li>
        <li style="display: flex;"><img src="../iconos/tiktok-icon.svg" alt="">Pixelart_2025</li>
    </ul>
  </div>

  </div>
</body>
</html>