<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<nav class="navbar">
    <div class="logo-container">
      <a href="../views/bienvenido.html"><img src="../img/logo.jpg" alt="Logo" class="logo" /></a>
      <a href="../views/bienvenido.html"><img src="../img/PixelArt.png" alt="PixelArt" class="logo-text" /></a>
    </div>
    <div class="buttons">
      <select class="custom-select">
        <option value="">Categorías</option>
        <option value="escolar">Escolar</option>
        <option value="dedicado">Material dedicado</option>
      </select>
      <a class="contact-button" href="contacto.html">Contáctanos</a>
    </div>
  </nav>
<body>
     <h1>Objetivos</h1>
     <div style="width: 500px; margin: 0 auto;">
    <h2 style="text-align: left;">
      1. Ofrecer un catálogo amplio y actualizado de productos escolares y artísticos de alta calidad.
    </h2>
    <h2 style="text-align: left;">
      2. Brindar una experiencia de compra fácil, rápida y amigable tanto en física como en línea.</h2>
    </div>
</body>
</html>